@charset "UTF-8";
.card-set, .address__list, .clients, .our-team__list, .products, .features, .contacts, .navigation__list, .sm-list,
.card-set__description,
.card-set__subtitle,
.team-member__position,
.products__text,
.features__text,
.card-set__title,
.team-member__name,
.features__title,
.modal__title,
.hero__title,
.section__title {
  margin: 0;
  padding: 0;
}

.card-set, .address__list, .clients, .our-team__list, .products, .features, .contacts, .navigation__list, .sm-list {
  list-style: none;
}

.card-set__description, .card-set__subtitle, .team-member__position, .products__text, .features__text {
  margin: 0;
  padding: 0;
}

.card-set__title, .team-member__name, .features__title, .modal__title, .hero__title, .section__title {
  color: #212121;
}

.filter__btn,
.portfolio-title, .checkbox__input, .section__title.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter, .clients__box, .features__icon, .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
  font-size: 14px;
}

.container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section--no-padding {
  padding-top: 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18px;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: #2196F3;
}
.logo__label--black {
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.link {
  text-decoration: none;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:visited {
  color: #212121;
}

.products__img,
.card-set__img,
.team-member__img {
  display: block;
}

.sm-item:not(:last-child) {
  margin-right: 10px;
}

.sm-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.sm-list {
  display: flex;
}

.footer-sm__title,
.products__text,
.subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  color: #fff;
  background-color: #2196F3;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: #188CE8;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.page-header__box {
  display: flex;
  align-items: center;
}

.navigation__link--current {
  color: #2196F3;
  position: relative;
}
.navigation__link--current::after {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 93px;
}
.navigation__item:not(:last-child),
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__item {
  display: flex;
  align-items: center;
}

.contacts__icon {
  margin-right: 10px;
  --color4: currentColor;
}

.navigation__link,
.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts__icon {
  fill: currentColor;
}

.contacts {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.navigation__link:hover,
.navigation__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: #2196F3;
}

.contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.contacts__link:visited {
  color: #757575;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
}

.overlay {
  padding-top: 200px;
  height: 600px;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-Img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  max-width: 650px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  --color1: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: #2196F3;
}

.modal__title {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal__box {
  padding: 40px;
}

.modal__label {
  position: relative;
}

.modal__field {
  display: block;
  width: 448px;
  height: 40px;
  padding-left: 40px;
  margin-bottom: 30px;
}

.modal__field,
.modal__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-width: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  --color1: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__label:focus-within > .modal__icon {
  fill: #2196F3;
}

.modal__label:focus-within > .modal__field,
.modal__label:focus-within > .modal__comment {
  border-color: #2196F3;
}

.modal__name {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  transform: translateY(-18px);
}

.modal__comment {
  display: block;
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.checkbox {
  position: relative;
  margin-bottom: 30px;
  line-height: 1.71;
}

.checkbox__link {
  text-underline-offset: 1px;
  color: #2196F3;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__icon {
  border-color: #2196F3;
  background-color: #2196F3;
}

.checkbox__input {
  display: block;
  position: relative;
}

.features__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features {
  display: flex;
  margin-left: -30px;
}

.features__item {
  flex-basis: calc(25% - 30px);
  margin-left: 30px;
}

.features__text {
  line-height: 1.71;
}

.features__icon {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.products {
  display: flex;
}

.products__item {
  position: relative;
}
.products__item:not(:last-child) {
  margin-right: 30px;
}

.products__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team {
  background-color: #F5F4FA;
}

.our-team__list {
  display: flex;
}

.team-member {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-member:not(:last-child) {
  margin-right: 30px;
}

.team-member__box {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 4px;
}

.team-member__name {
  font-weight: 500;
  margin-bottom: 10px;
}

.team-member__position,
.team-member__name {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-member__position {
  margin-bottom: 16px;
}

.team-member__sm-list {
  justify-content: center;
}

.team-member__sm-link {
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-member__sm-link:visited {
  color: #AFB1B8;
}
.team-member__sm-link:hover, .team-member__sm-link:focus {
  background-color: #2196F3;
  color: #fff;
}

.team-member__sm-icon {
  --color1: currentColor ;
}

.clients {
  display: flex;
}

.clients__box {
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:visited {
  color: #AFB1B8;
}
.clients__link:hover, .clients__link:focus {
  color: #2196F3;
  fill: #2196F3;
}

.clients__logo {
  --color1: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__box {
  display: flex;
}

/* Стили списка адресов */
.addres-thumb {
  width: 231px;
  margin-right: 70px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.logo-label--white {
  color: #fff;
}

.address__item {
  font-style: normal;
  line-height: 1.7;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}
.address__link:visited {
  color: rgba(255, 255, 255, 0.6);
}
.address__link:hover, .address__link:focus {
  color: #fff;
}
.address__link--white {
  color: #fff;
}

/* стили списка соц-сетей */
.footer-sm__title,
.subscription__title {
  display: block;
  padding-bottom: 20px;
  padding-top: 12px;
}

.footer-sm__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-sm__link:hover, .footer-sm__link:focus {
  background-color: #2196F3;
}

.footer-sm__icon {
  --color1: currentColor ;
}

/* стили формы подписки */
.subscription {
  display: flex;
  align-items: flex-start;
  margin-left: 93px;
}

.subscription__box {
  display: flex;
  flex-direction: column;
}

.subscription__email {
  height: 50px;
  width: 358px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscription__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-left: 12px;
}

.subscription__icon {
  margin-left: 10px;
}

/* стили фильтра */
.filter__text {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  color: #212121;
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: #F5F4FA;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:checked + .filter__text {
  color: #fff;
  background-color: #2196F3;
}
.filter__text:hover, .filter__text:focus {
  color: #fff;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter {
  margin-bottom: 50px;
}

.filter__label:not(:last-child) {
  margin-right: 8px;
}

/* стили кардсета */
.card-set__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.card-set__subtitle {
  font-size: 16px;
  line-height: 1.88;
}

.card-set__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__titles {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 20px 24px;
  background-color: #fff;
}

.card-set {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.card-set__img {
  max-width: 100%;
  height: auto;
}

.card-set__item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.card-set__thumb {
  position: relative;
  z-index: -1;
}

.card-set__item,
.card-set__titles {
  overflow: hidden;
}

.card-set__description {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 18px;
  line-height: 1.58;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__item:hover .card-set__description {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */