/* Общие стили */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --tertiary-text-color: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  font-size: 14px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:visited {
  color: var(--title-text-color);
}

.title,
.text {
  padding: 0;
  margin: 0;
}

.title {
  color: var(--title-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Стили хедера */

.page-header {
  border-bottom: 1px solid #ECECEC;
}

.page-header__box {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-color);
}

.logo__label--black {
  color: var(--title-text-color);
}

.navigation__link--current {
  color: var(--accent-color);
  position: relative;
}

.navigation__link--current::after {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-left: 93px;
}

.navigation__item:not(:last-child),
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__item {
  display: flex;
  align-items: center;
}

.contacts__icon {
  margin-right: 10px;
  --color4: currentColor;
}

.navigation__link,
.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts__icon {
  fill: currentColor;
}

.contacts {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.navigation__link:hover,
.navigation__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contacts__link:visited {
  color: var(--primary-text-color);
}

/* Стили мейна главной страницы */

/* Стили секции герой */

.hero {
  max-width: 1600px;
  margin: 0 auto;
}

.overlay {
  padding-top: 200px;
  height: 600px;
  background-color: #2F303A66;
  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url("../images/hero-Img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  max-width: 650px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  color: var(--tertiary-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: #188CE8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

}

.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;

  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;

  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--tertiary-text-color);
  --color1: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover,
.modal__close-button:focus {
  fill: var(--accent-color);
}

.modal__title {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
  text-align: center;
}

.modal__box {
  padding: 40px;
}

.modal__label {
  position: relative;
}

.modal__field {
  display: block;
  width: 448px;
  height: 40px;
  padding-left: 40px;
  margin-bottom: 30px;
}

.modal__field,
.modal__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-width: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  --color1: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__label:focus-within>.modal__icon {
  fill: var(--accent-color);
}

.modal__label:focus-within>.modal__field,
.modal__label:focus-within>.modal__comment {
  border-color: var(--accent-color);
}

.modal__name {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  transform: translateY(-18px);
}

.modal__comment {
  display: block;
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  line-height: 1.71;
}

.checkbox__link {
  text-underline-offset: 1px;
  color: var(--accent-color);
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked+.checkbox__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.checkbox__input {
  display: block;
  position: relative;
}

/* стили секции Особенности */

.features__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features {
  display: flex;
  margin-left: -30px;
}

.features__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.features__text {
  line-height: 1.71;
}

.features__icon {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

/* стили секции Что мы делаем */

.section--no-padding {
  padding-top: 0;
}

.products {
  display: flex;
}

.products__item:not(:last-child) {
  margin-right: 30px;
}

.products__item {
  position: relative;
}

.products__img,
.card-set__img,
.team-member__img {
  display: block;
}

.products__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Стили секции Наша команда */

.our-team {
  background-color: #F5F4FA;
}

.our-team__list {
  display: flex;
}

.team-member:not(:last-child) {
  margin-right: 30px;
}

.team-member {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member__box {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 4px;
}

.team-member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team-member__position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.team-member__sm-list {
  justify-content: center;
}

.team-member__sm-link {
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member__sm-link:visited {
  color: #AFB1B8;
}

.team-member__sm-link:hover,
.team-member__sm-link:focus {
  background-color: var(--accent-color);
  color: var(--tertiary-text-color);
}

.team-member__sm-icon {
  --color1: currentColor
}

/* Стили секции Наши клиенты */

.clients {
  display: flex;
}

.clients__box {
  width: 170px;
  height: 92px;
  border: 1px solid currentColor;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:visited {
  color: #AFB1B8;
}

.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.clients__logo {
  --color1: currentColor;
}

/* Стили футера */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__box {
  display: flex;
}

/* Стили списка адресов */

.addres-thumb {
  width: 231px;
  margin-right: 70px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.logo-label--white {
  color: var(--tertiary-text-color);
}

.address__item {
  font-style: normal;
  line-height: 1.7;
  color: var(--tertiary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}

.address__link:visited {
  color: rgba(255, 255, 255, 0.6);
}

.address__link:hover,
.address__link:focus {
  color: var(--tertiary-text-color);
}

.address__link--white {
  color: var(--tertiary-text-color);
}

/* стили списка соц-сетей */

.footer-sm__title,
.products__text,
.subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tertiary-text-color);
}

.footer-sm__title,
.subscription__title {
  display: block;
  padding-bottom: 20px;
  padding-top: 12px;
}

.sm-list {
  display: flex;
}

.sm-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.footer-sm__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--tertiary-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sm__link:hover,
.footer-sm__link:focus {
  background-color: var(--accent-color);
}

.sm-item:not(:last-child) {
  margin-right: 10px;
}

.footer-sm__icon {
  --color1: currentColor
}

/* стили формы подписки */

.subscription {
  display: flex;
  align-items: flex-start;
  margin-left: 93px;
}

.subscription__box {
  display: flex;
  flex-direction: column;
}

.subscription__email {

  height: 50px;
  width: 358px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscription__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-left: 12px;
}

.subscription__icon {
  margin-left: 10px;
}

/* Стили для мейна страницы "Портфолио" */

/* стили фильтра */
.filter__text {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: inherit;
  color: #212121;
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: #F5F4FA;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.filter__btn:checked+.filter__text {
  color: var(--tertiary-text-color);
  background-color: var(--accent-color);
}

.filter__text:hover,
.filter__text:focus {
  color: var(--tertiary-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.filter__label:not(:last-child) {
  margin-right: 8px;
}

/* стили кардсета */

.card-set__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.card-set__subtitle {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);

}

.card-set__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.card-set__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__titles {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 20px 24px;
  background-color: var(--tertiary-text-color);
}

.card-set {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.card-set__img {
  max-width: 100%;
  height: auto;
}

.card-set__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.card-set__thumb {
  position: relative;
  z-index: -1;
}

.card-set__item,
.card-set__titles {
  overflow: hidden;
}

.card-set__description {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 18px;
  line-height: 1.58;
  color: var(--tertiary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__item:hover .card-set__description {
  transform: translateY(0);
}
