.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-bg-color;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__box {
  display: flex;
}

/* Стили списка адресов */

.addres-thumb {
  width: 231px;
  margin-right: 70px;
}

.address__list {
  @extend %list;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.logo-label--white {
  color: $tertiary-text-color;
}

.address__item {
  font-style: normal;
  line-height: 1.7;
  color: $tertiary-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link {
  color: $address-link-color;

  &:visited {
      color: $address-link-color;
    }
  
    &:hover,
    &:focus {
      color: $tertiary-text-color;
    }
  
    &--white {
      color: $tertiary-text-color;
    }
}

/* стили списка соц-сетей */

.footer-sm__title,
.subscription__title {
  display: block;
  padding-bottom: 20px;
  padding-top: 12px;
}

.footer-sm__link {
  background-color: $footer-sm-link-bg-color;
  color: $tertiary-text-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
      background-color: $accent-color;
    }
}

.footer-sm__icon {
  --color1: currentColor
}

/* стили формы подписки */

.subscription {
  display: flex;
  align-items: flex-start;
  margin-left: 93px;
}

.subscription__box {
  display: flex;
  flex-direction: column;
}

.subscription__email {
  height: 50px;
  width: 358px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscription__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-left: 12px;
}

.subscription__icon {
  margin-left: 10px;
}