.our-team {
  background-color: #F5F4FA;
}

.our-team__list {
  @extend %list;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.team-member {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
  0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
      margin-bottom: 30px;

      @media screen and (min-width: 1200px) {
        margin-right: 30px;
      }
    }
}

.team-member__box {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: var(--tertiary-text-color);
  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.team-member__name {
  @extend %title;
  font-weight: 500;
  margin-bottom: 10px;
}

.team-member__position,
.team-member__name {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-member__position {
  @extend %text;
  margin-bottom: 16px;
}

.team-member__sm-list {
  justify-content: center;
}

.team-member__sm-link {
  color: var(--tertiary-background-color);
  transition: color var(--anim),
    background-color var(--anim);

&:visited {
    color: var(--tertiary-background-color);
  }

&:hover,
&:focus {
  background-color: var(--accent-color);
  color: var(--tertiary-text-color);
}

}

.team-member__sm-icon {
  --color1: currentColor
}