.body {
  font-family: $main-font;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    font-size: 14px;
}

.container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &--no-padding {
      padding-top: 0;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
}

.section__title {
  @extend %title;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18px;
  text-align: center;
  margin-bottom: 30px;

  &.visually-hidden {
@extend %visually-hidden;
  }

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.16;
      margin-bottom: 50px;
    }
}

.logo {
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: $accent-color;

  &__label--black {
    color: $title-text-color;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.link {
   text-decoration: none;
   color: $title-text-color;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:visited {
        color: $title-text-color;
      }
 }
    
.products__img,
.card-set__img,
.team-member__img {
  display: block;
}

.sm-item:not(:last-child) {
  margin-right: 10px;
}

.sm-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.sm-list {
  display: flex;
  @extend %list;
}

.footer-sm__title,
.products__text,
.subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $tertiary-text-color;
  text-align: center;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  color: $tertiary-text-color;
  background-color: $accent-color;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188CE8;
  }
}