// цвета
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$tertiary-text-color: #fff;
$secondary-background-color: #F5F4FA;
$tertiary-background-color: #AFB1B8;
$footer-bg-color: #2F303A;
$address-link-color: rgba(255, 255, 255, 0.6);
$footer-sm-link-bg-color: rgba(255, 255, 255, 0.1);

// шрифты
$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;

