:root {
  // шрифты
  --main-font: 'Roboto',
    sans-serif;
  --secondary-font: 'Raleway',
    sans-serif;

  // цвета текста
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --tertiary-text-color: #fff;
    --address-link-color: rgba(255, 255, 255, 0.6);
    
  // фоновые цвета
  --secondary-background-color: #F5F4FA;
  --tertiary-background-color: #AFB1B8;
  --footer-bg-color: #2F303A;
  --footer-sm-link-bg-color: rgba(255, 255, 255, 0.1);

  // другое
  --items: 3;
  --indent: 30px;

  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


